.prompt.spacekeys-modal .suggestion-item {
	align-items: center;

	.spacekeys-key {
		margin-right: 1em;
	}

	.suggestion-aux {
		font-size: var(--font-ui-small);
	}

	&.spacekeys-group {
		.spacekeys-key kbd {
			color: var(--text-on-accent);
			background: var(--interactive-accent);
		}
	}

	&.spacekeys-command {
	}

	&.spacekeys-command.spacekeys-invalid {
		code.spacekeys-command-id, .suggestion-title {
			color: var(--text-error);
		}
	}
}
