.prompt .spacekeys-modal-title {
	border-bottom: 1px solid var(--background-secondary);
	font-size: var(--font-ui-small);
	text-align: center;
	padding: var(--size-4-2);
}


.prompt.spacekeys-modal .suggestion-item {
	align-items: center;
	column-gap: 1em;

	.spacekeys-key {
	}

	.suggestion-content {
		max-height: 2.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.suggestion-aux {
		font-size: var(--font-ui-small);
		max-width: 30%;
	}

	.spacekeys-command-id {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.spacekeys-group {
		.spacekeys-key kbd {
			color: var(--text-on-accent);
			background: var(--interactive-accent);
		}
	}

	&.spacekeys-command {
		&.spacekeys-invalid {
			code.spacekeys-command-id, .suggestion-title {
				color: var(--text-error);
			}
		}
	}
}
