.prompt.msh-modal .suggestion-item {
	align-items: center;

	.msh-key {
		margin-right: 1em;
	}

	.suggestion-aux {
		font-size: var(--font-ui-small);
	}

	&.msh-group {
		.msh-key kbd {
			color: var(--text-on-accent);
			background: var(--interactive-accent);
		}
	}

	&.msh-command {
	}

	&.msh-command.msh-invalid {
		code.msh-command-id, .suggestion-title {
			color: var(--text-error);
		}
	}
}
